body{
    background-image: url(nordwood-themes-kRNZiGKtz48-unsplash.jpg);
    background-size: cover;
}
.field
{
    margin: 0px 500px;
    width: 300px;
    border-radius: 10px;

}
.input
{
    padding: 8px;
    width: 400px;
    text-align: left;
    background: transparent;
    
}

